{% extends "base.html" %}

{% block title %}Change password{% endblock title %}

{% block content %}

<h3>Change password</h3>

<p>
    <strong>Enter your new password:</strong>
    <input type="text" name="profile-password"> <button>Confirm</button>
</p>

<form method="post">
    <p>
        <strong>Your name:</strong>
        <input type="text" value="{{user.name}}" name="profile-name">
    </p>

    <p>
        <strong>Your email:</strong>
        <input type="text" value="{{user.email}}" name="profile-email">
    </p>



{% endblock content %}